# Configuración del NAS Remoto
REMOTE_USER=user
REMOTE_IP=100.100.100.100
REMOTE_DIR=/path/to/downloads/

# Rutas Locales (Ocultas)
LOCAL_TEMP_DIR=/path/to/temp_directory
LOCAL_BIBLIO_DIR=/path/to/biblio_dir
LOCAL_DONE_LOG=/path/to/transferred.log
LOCKFILE=/path/to/nas_sync.lock

# Notificaciones
TELEGRAM_TOKEN=123456789:ABCdefGHIjklMNO
TELEGRAM_CHAT_ID=987654321
